<%- include('../partials/head') %>
<body>

<div class="auth-page">

    

    <div class="auth-card">

        <div class="auth-logo">
            Life<span>Tree</span>
        </div>


        <h1>
            Войди в своё пространство
        </h1>


        <p class="auth-description">
            Организуй задачи, заметки и идеи.
            Всё начинается с одного места.
        </p>


        <form class="auth-form">

            <input type="email" placeholder="Email">


            <input type="password" placeholder="Пароль">


            <button class="btn">
                Продолжить работу
            </button>

        </form>


        <div class="auth-footer">
            Нет аккаунта?
            <a href="/register">
                Зарегистрироваться
            </a>
        </div>


    </div>

</div>