<%- include('../partials/head') %>
<body>

<div class="auth-page">

    

    <div class="auth-card">

        <div class="auth-logo">
            Life<span>Tree</span>
        </div>


        <h1>
            Создай своё пространство
        </h1>


        <p class="auth-description">
            Организуй задачи, заметки и идеи.
            Всё начинается с одного места.
        </p>


        <form class="auth-form">

            <input type="text" placeholder="Имя">


            <input type="email" placeholder="Email">


            <input type="password" placeholder="Пароль">

            <input type="password" placeholder="Повтори пароль">


            <button class="btn">
                Начать работу
            </button>

        </form>


        <div class="auth-footer">
            Уже есть аккаунт?
            <a href="/login">
                Войти
            </a>
        </div>


    </div>

</div>