  <header>
    <div class="logo">Life<span>OS</span></div>
    <div>
      <a href="/login" class="btn btn-outline">Войти</a>
      <a href="/register" class="btn btn-primary">Зарегестрироваться</a>
    </div>
  </header>