#toast-container{

    position:fixed;

    top:20px;
    right:20px;

    display:flex;
    flex-direction:column;

    gap:12px;

    z-index:9999;

}

.toast{

    min-width:320px;

    padding:16px 18px;

    border-radius:12px;

    color:white;

    font-size:15px;

    transform:translateX(120%);

    opacity:0;

    transition:.3s;

    box-shadow:0 10px 30px rgba(0,0,0,.18);

}

.toast--show{

    transform:translateX(0);

    opacity:1;

}

.toast__content{

    display:flex;

    justify-content:space-between;

    align-items:center;

    gap:15px;

}

.toast__close{

    border:none;

    background:none;

    color:white;

    font-size:20px;

    cursor:pointer;

}

.toast--success{

    background:#27ae60;

}

.toast--error{

    background:#e74c3c;

}

.toast--warn{

    background:#f39c12;

}

.toast--info{

    background:#3498db;

}